<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="InboundFilePendingPath" value="C:/Promantra/InboundLive/Pending/"/>
    <add key="InboundFileCompletedPath" value="C:/Promantra/InboundLive/Completed/"/>
    <add key="InboundFileErrorPath" value="C:/Promantra/InboundLive/Error/"/>
    <add key="OutboundFilePendingPath" value="C:/Promantra/InboundLive/Error/"/>-->

    <add key="InboundFilePendingPath" value="C:/Promantra/Inbound/Pending/"/>
    <add key="InboundFileCompletedPath" value="C:/Promantra/Inbound/Completed/"/>
    <add key="InboundFileErrorPath" value="C:/Promantra/Inbound/Error/"/>
    <add key="OutboundFilePendingPath" value="C:/Promantra/Inbound/Error/"/>

    <add key="ProcessCount" value="20"/>
    <add key="Processtime" value="10000"/>
  </appSettings>
  <connectionStrings>
    <add name="HL7ConnectionString" connectionString="data source=192.168.100.9;initial catalog=Emar;user id=sa;password=ABC123abc;"/>
  </connectionStrings>
</configuration>