<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper" style="margin-left: 20px !important;"> -->
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <!-- Main content -->
    <section class="content"  style="margin-left: 0px !important;">
      <div class="container-fluid">
        <div class="card card-primary">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="card-title">Diagnosis Details</h3>
              </div>

              <div class="col-sm-3">
              </div>
              <div class="col-sm-3" style="float: right;">
                <div style="text-align: right">
                  <input type="button" *ngIf="pageConfig['AccessWrite'] && residentId != 0 &&  residentStatus === 1"
                    id="Addnew" value="Add New Diagnosis" class="btn btn-danger btn-xs" (click)="getDiagnosissbyDiagnosisId(0)" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="tbldiagnosis" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>Diagnosis</th>
                    <th *ngIf="residentStatus === 1 && pageConfig['AccessWrite']"></th>
                    <th></th>
                    <th *ngIf="residentStatus === 1 && pageConfig['AccessWrite']"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of diagnosis;index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.DiagnosisDescription}}</td>
                    <td *ngIf="residentStatus === 1 && pageConfig['AccessWrite']">
                      <a class="btn editicon" 
                        (click)="getDiagnosissbyDiagnosisId(item.PDiagnosis_Id)">
                        <i class="icon"></i>
                        <span class=" fa fa-edit (alias) iconColor" title="Edit"></span>
                      </a>
                    </td>
                    <td>
                      <a class="btn editicon" 
                        (click)=" getHistoryById(item.PDiagnosis_Id)">
                        <i class="icon"></i>
                        <span class=" fa fa-history iconColor" title="History"></span>
                      </a>
                    </td>
                    <td class="align-middle" *ngIf="residentStatus === 1 && pageConfig['AccessWrite']">
                          <a class="btn editicon" style="color:red;" (click)="modalDiagnosisOpen(item.PDiagnosis_Id)"><i
                            class="icon"></i><span class=" fa fa-trash" title="Remove"></span> </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    <div class="modal fade modalstyle" ngDraggable [handle]="DemoHandle1" style="padding-top: 35px;" id="exampleModal" role="dialog"
    [ngStyle]="{'display': modalDiagnosisIsOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div #DemoHandle1 class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color:red">Warning!</h5>
          <button type="button" class="close" (click)="closeDiagnosisModel()">&times;</button>
        </div>
        <div class="modal-body">
          <strong> Do you want to Delete?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="RemoveDiagnosis()">Yes</button>
          <button type="button" class="btn btn-danger" (click)="closeDiagnosisModel()">No</button>
        </div>
      </div>
    </div>
  </div>

</section>
