.editicon
{
    padding: initial;
    color: blue;
    line-height: inherit;
}
.iconstyle
{
    color: white;
    padding: 0px;
    height: 24px !important;
    /* width:150px !important; */
}
.iconfontsize
{
    font-size: x-large
}