<!-- <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Facility Details</h3>
      </div> -->
      <div class="modal-content" ngDraggable [handle]="DemoHandle1">
          <div #DemoHandle1 class="modal-header " style="height: 50px ">
            <h5>Facility Details</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->

          </div>
      <div class="modal-body bodystyle">

        <form [formGroup]="myform" autocomplete="off">
          <div class="row form-group">
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Company Name
              <span class="c1">*</span>
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Company Name
              <span class="c1">*</span>
              <ng-multiselect-dropdown formControlName="company" class="form-control"
              [(ngModel)]="selectedCompanyItem" [data]="companies" (onSelect)="onCompanySelect($event)" (onDeSelect)="onCompnayDeSelect($event)" [settings]="dropdownSettings_Company">
            </ng-multiselect-dropdown>
              <div *ngIf="myform.controls.company.errors && (myform.controls.company.touched)" class="errorMessage">
                <div *ngIf="myform.controls.company.errors.required">
                  Company Name is required.
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Facility Name
              <span class="c1">*</span>
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Facility Name
              <span class="c1">*</span>
              <input type="text" id="txtfacilityname" formControlName="facilityName" class="form-control" [ngClass]="{
                  'is-valid':myform.controls.facilityName.valid,
                  'is-invalid':myform.controls.facilityName.invalid && myform.controls.facilityName.touched
                }" />
              <div *ngIf="myform.controls.facilityName.errors && (myform.controls.facilityName.touched)" class="errorMessage">
                <div *ngIf="myform.controls.facilityName.errors.required">
                  Facility Name is required.
                </div>
                <div *ngIf="myform.controls.facilityName.errors.maxlength">
                  Facility Name cannot be more than 50 characters long.
                </div>
                <div *ngIf="myform.controls.facilityName.errors.pattern">
                  {{config.alphaNumericFewSpecialCharactersMessage1}}
                </div>
              </div>

            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">
              Address1
              <span class="c1">*</span>
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Address1
              <span class="c1">*</span>
              <input type="text" id="txtaddress1" formControlName="address1" class="form-control" [ngClass]="{
                  'is-valid':myform.controls.address1.valid,
                  'is-invalid':myform.controls.address1.invalid && myform.controls.address1.touched
                }" />
              <div *ngIf="myform.controls.address1.errors && (myform.controls.address1.touched)" class="errorMessage">
                <div *ngIf="myform.controls.address1.errors.required">
                  Address 1 is required.
                </div>
                <div *ngIf="myform.controls.address1.errors.maxlength">
                  Address 1 cannot be more than 100 characters long.
                </div>
              </div>

            </div>
          </div>
          <div class="row form-group">
            <!--<div class="col-sm-2 col-md-2 col-lg-2">Address2
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Address2
              <input type="text" id="txtaddress2" formControlName="address2" class="form-control" [ngClass]="{
                'is-valid':myform.controls.address2.valid && myform.controls.address2.dirty,
                'is-invalid':myform.controls.address2.invalid && myform.controls.address2.touched
              }" />
              <div *ngIf="myform.controls.address2.errors && (myform.controls.address2.touched)" class="errorMessage">
                <div *ngIf="myform.controls.address2.errors.maxlength">
                  Address 2 cannot be more than 100 characters long.
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Country
              <span class="c1">*</span>
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Country
              <span class="c1">*</span>
              <select id="ddlcountry" formControlName="country" class="form-control" 
                [ngClass]="{
                'is-valid':myform.controls.country.valid,
                'is-invalid':myform.controls.country.invalid && myform.controls.country.touched
              }">
              <option value="" disabled selected>Select</option>
                <option *ngFor="let item of countries" value="{{item.Country_Id}}">{{item.Country_Code}}</option>
              </select>
              <div *ngIf="myform.controls.country.errors && (myform.controls.country.touched)" class="errorMessage">
                <div *ngIf="myform.controls.country.errors.required">
                  Country is required.
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">State
              <span class="c1">*</span>
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              State
              <span class="c1">*</span>
                <input type="text" id="txtstate" formControlName="state" class="form-control" [ngClass]="{
                  'is-valid':myform.controls.state.valid ,
                  'is-invalid':myform.controls.state.invalid && myform.controls.state.touched
                }">
                <div *ngIf="myform.controls.state.errors && (myform.controls.state.touched)" class="errorMessage">
                <div *ngIf="myform.controls.state.errors.required">
                  State is required.
                </div>
                <div *ngIf="myform.controls.state.errors.maxlength">
                  State must be 2 characters long.
                </div>
                <div *ngIf="myform.controls.state.errors.minlength">
                  State must be 2 characters long.
                </div>
                <div *ngIf="myform.controls.state.errors.pattern">
                 {{config.alphabetsMessage}}
                </div>
                <!-- <div *ngIf="myform.controls.state.errors.maxlength">
                  State cannot be more than 50 characters long.
                </div>
                <div *ngIf="myform.controls.state.errors.pattern">
                 {{config.alphaNumericFewSpecialCharactersMessage5}}
                </div> -->
              </div>
            </div>
          </div>
          <div class="row form-group">
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">City
              <span class="c1">*</span>
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              City
              <span class="c1">*</span>
                <input type="text" id="txtcity" formControlName="city" class="form-control" [ngClass]="{
                  'is-valid':myform.controls.city.valid ,
                  'is-invalid':myform.controls.city.invalid && myform.controls.city.touched
                }">
              <div *ngIf="myform.controls.city.errors && (myform.controls.city.touched)" class="errorMessage">
                <div *ngIf="myform.controls.city.errors.required">
                  City is required.
                </div>
                <div *ngIf="myform.controls.city.errors.maxlength">
                  City cannot be more than 50 characters long.
                </div>
                <div *ngIf="myform.controls.city.errors.pattern">
                 {{config.alphaNumericFewSpecialCharactersMessage5}}
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Zip Code
              <span class="c1">*</span>
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Zip Code
              <span class="c1">*</span>
              <input type="text" id="txtzipcode" [(ngModel)]="zipcodeValue" formControlName="zipcode" class="form-control"
              placeholder="00000-0000" (keyup)="zipcodeChange($event.target.value)" [ngClass]="{
                'is-valid':myform.controls.zipcode.valid && myform.controls.zipcode.dirty ,
                'is-invalid':myform.controls.zipcode.invalid && myform.controls.zipcode.touched
              }" />
              <div *ngIf="myform.controls.zipcode.errors && (myform.controls.zipcode.touched)" class="errorMessage">
                <div *ngIf="myform.controls.zipcode.errors.required  || zipcodeValue==''">
                  Zipcode is required.
                </div>
                <div *ngIf="myform.controls.zipcode.errors.maxlength">
                  Zipcode must be 10 characters long.
                </div>
                <div *ngIf="myform.controls.zipcode.errors.pattern">
                  Zipcode Only Numbers(0-9), special characters(-) are allowed.
                </div>
                <div *ngIf="zipcodeisvalid==false && zipcodeValue!=''">
                  Zipcode should be either 5 or 9 digits.
                </div>
              </div>
              <!-- <select formControlName="zipcode" class="form-control">
              <option value="0">--Select--</option>
              <option *ngFor="let item of zipCodes" value="{{item.Zip_Id}}">{{item.Zip_Code}}</option>
            </select> -->
            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Contact No.</div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Contact No.
              <input type="text" id="txtcontactno" formControlName="contactNumber" class="form-control"
              placeholder="(000)-000-0000"
                [textMask]="{mask: mobileNumberMask, guide: false}" [ngClass]="{
                'is-valid':myform.controls.contactNumber.valid && myform.controls.contactNumber.dirty,
                'is-invalid':myform.controls.contactNumber.invalid && myform.controls.contactNumber.touched
              }" />
              <div *ngIf="myform.controls.contactNumber.errors && (myform.controls.contactNumber.touched)" class="errorMessage">
                <div *ngIf="myform.controls.contactNumber.errors.minlength">
                  Phone must be 10 characters long.
                </div>
                <div *ngIf="myform.controls.contactNumber.errors.maxlength">
                  Phone must be 10 characters long.
                </div>
                <div *ngIf="myform.controls.contactNumber.errors.pattern">
                  Invalid Phone number
                </div>

              </div>
            </div>
          </div>
          <div class="row form-group">
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Fax</div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Fax
              <input type="text" id="txtfax" formControlName="fax"
              placeholder="(000)-000-0000"
                [textMask]="{mask: mobileNumberMask, guide: false}" class="form-control" [ngClass]="{
                'is-valid':myform.controls.fax.valid && myform.controls.fax.dirty,
                'is-invalid':myform.controls.fax.invalid && myform.controls.fax.touched
              }" />
              <div *ngIf="myform.controls.fax.errors && (myform.controls.fax.touched)" class="errorMessage">
                <div *ngIf="myform.controls.fax.errors.minlength">
                  Fax must be 10 characters long.
                </div>
                <div *ngIf="myform.controls.fax.errors.maxlength">
                  Fax must be 10 characters long.
                </div>
                <div *ngIf="myform.controls.fax.errors.pattern">
                  Invalid fax number
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Facility External ID<span class="c1" *ngIf="companyHlFlag===1">*</span></div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Facility External ID<span class="c1" *ngIf="companyHlFlag===1">*</span>
              <input type="text" id="txtshortname" formControlName="shortname" class="form-control" [ngClass]="{
                'is-valid':myform.controls.shortname.valid && myform.controls.shortname.dirty,
                'is-invalid':myform.controls.shortname.invalid && myform.controls.shortname.touched
              }" />
              <div *ngIf="myform.controls.shortname.errors && (myform.controls.shortname.touched)" class="errorMessage">
                <div *ngIf="myform.controls.shortname.errors.required">
                  Facility External ID is required.
                </div>
                <div *ngIf="myform.controls.shortname.errors.maxlength">
                  Facility External ID cannot be more than 20 characters long.
                </div>
                <div *ngIf="myform.controls.shortname.errors.minlength">
                  Facility External ID cannot be less than 4 characters long.
                </div>
                <div *ngIf="myform.controls.shortname.errors.pattern">
                  {{config.alphaNumericFewSpecialCharactersMessage1}}
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Contact Person</div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Contact Person
              <input type="text" id="txtcontactperson" formControlName="contactPerson" class="form-control" [ngClass]="{
                'is-valid':myform.controls.contactPerson.valid && myform.controls.contactPerson.dirty,
                'is-invalid':myform.controls.contactPerson.invalid && myform.controls.contactPerson.touched
              }" />
              <div *ngIf="myform.controls.contactPerson.errors && (myform.controls.contactPerson.touched)" class="errorMessage">
                <div *ngIf="myform.controls.contactPerson.errors.maxlength">
                  Contact Person cannot be more than 50 characters long.
                </div>
                <div *ngIf="myform.controls.contactPerson.errors.pattern">
                  {{config.alphaNumericFewSpecialCharactersMessage3}}
                 </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Contact Person No</div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Contact Person No
              <input type="text" id="txtcontactpersonNo"
              placeholder="(000)-000-0000"
              [textMask]="{mask: mobileNumberMask, guide: false}"  formControlName="contactPersonNo" class="form-control"
                [ngClass]="{
                'is-valid':myform.controls.contactPersonNo.valid && myform.controls.contactPersonNo.dirty,
                'is-invalid':myform.controls.contactPersonNo.invalid && myform.controls.contactPersonNo.touched
              }" />
              <div *ngIf="myform.controls.contactPersonNo.errors && (myform.controls.contactPersonNo.touched)" class="errorMessage">
                <div *ngIf="myform.controls.contactPersonNo.errors.pattern">
                  Invalid Contact Person No.
                </div>
                <div *ngIf="myform.controls.contactPersonNo.errors.maxlength">
                  Contact Person No. Must be 10 characters long.
                </div>
                <div *ngIf="myform.controls.contactPersonNo.errors.minlength">
                  Contact Person No. Must be 10 characters long.
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              Time Zone
              <span class="c1">*</span>
              <select class="form-control" formControlName="timezone">
                <option value="">Select</option>
                <option *ngFor="let item of timeZones" value="{{item.TZ_Id}}">{{item.ZoneDesc}}</option>
              </select>
              <div *ngIf="myform.controls.timezone.errors && (myform.controls.timezone.touched)" class="errorMessage">
                <div *ngIf="myform.controls.timezone.errors.required">
                  Time Zone is required.
                </div>
              </div> 
            </div>
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Logo</div> -->
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="right"> Logo </div>
              <div class="left"> <input type="button" class="btn btn-sm btn-success" id="fplogo" value="Upload Logo" (click)="UploadFacilityLogo()"/>               
              <div *ngIf="logoErrorMessage != ''" style="color:red">
                {{logoErrorMessage}}
              </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <img src="{{imgurl}}" *ngIf="facilityLogo != null" height="50px" width="100px" />
              <img [src]="getLogo" *ngIf="getLogo" height="50px" width="100px" />
            </div> -->
            <!-- <div class="col-sm-2 col-md-2 col-lg-2">Status
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4">
              Status
              <div class="iconed-input">
                <label class="switch">
                  <input type="checkbox" id="chkstatus" formControlName="status">
                  <div class="slider round">
                    <!--ADDED HTML -->
                    <span class="on">Active</span>
                    <span class="off">Inactive</span>
                    <!--END-->
                  </div>
                </label>

              </div>
            </div>
          </div>
          <!-- <div class="row form-group">
            <div class="col-sm-4 col-md-4 col-lg-4">
              Time Zone
              <span class="c1">*</span>
              <select class="form-control" formControlName="timezone">
                <option value="">Select</option>
                <option *ngFor="let item of timeZones" value="{{item.TZ_Id}}">{{item.ZoneDesc}}</option>
              </select>
              <div *ngIf="myform.controls.timezone.errors && (myform.controls.timezone.touched)" class="errorMessage">
                <div *ngIf="myform.controls.timezone.errors.required">
                  Time Zone is required.
                </div>
              </div> 
            </div>
          </div> -->
          <div class="modal-footer">
          <div style="text-align: right">
            <input type="button" id="btnsave" *ngIf="pageConfig['AccessWrite']" value="Save" (click)="insertFacility()" [disabled]="myform.invalid"
              class="btn btn-success" />&nbsp;
              <input type="button" id="btnclose" value="Close" (click)="resetScreen()" data-dismiss="modal" class="btn btn-danger"  #closeAddFacilityModal/> 
          </div>
        </div>
        </form>
      </div>
      <div  class="modal fad modalstyl" ngDraggable [handle]="DemoHandle2" id="myModal"  role="dialog"
        [ngStyle]="{'display': FacilityLogoModalOpen ? 'block' : 'none', 'opacity': 1}">
        <div class="modal-dialo" style="max-width: 100%;padding-top: 10px">
          <div class="modal-content">
            <div #DemoHandle2 class="modal-header " style="height: 35px;padding:7px !important ">
              <h5>Upload Facility Logo</h5>
              <button type="button" class="close" (click)="closeFacilityLogoModel()">&times;</button>
            </div>
            <div class="modal-body bodystyl">
                    <div class="row form-group">
                        <!-- <div class="col-sm-1 col-md-1 col-lg-1">Logo</div> -->
                          <div class="col-sm-6 col-md-6 col-lg-6">
                            <!-- <div>
                              <ngx-img (onSelect)="onSelect($event)" (onReset)="onReset()"  [config]="{ crop: [ { viewMode: 0 } ], quality: 0.8 }"></ngx-img>
                            </div> -->
                            <!-- <input type="file" id="fplogo" #inputLogo formControlName="logo" (change)="fileUploadChange($event)"
                              accept="image/*" /> -->
                              <div>
                                <input type="file" #cropHeaderlogofile (change)="fileChangeEvent($event)" accept="image/png, image/jpeg"/>                                
                                <!-- <a class="btn editicon" style="color:blue" (click)="rotateLeft()">
                                  <i class="icon"></i>
                                  <span class=" fa fa-undo" title="Rotate Left" style="cursor: pointer;"></span>
                                </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn editicon" style="color:blue" (click)="rotateRight()">
                                  <i class="icon"></i>
                                  <span class=" fa fa-repeat" title="Rotate Right" style="cursor: pointer;"></span>
                                </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                <a class="btn editicon" style="color:blue" (click)="flipHorizontal()" title="Flip Horizontal">
                                  <i class="icon"></i>                
                                  <img src="./assets/images/fliphorizontal.png" width="25" height="25">                  
                                  <span class=" fa fa-flip-horizontal" title="Flip Horizontal" style="cursor: pointer;"></span>
                                </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn editicon" style="color:blue" (click)="flipVertical()" title="Flip Vertical">
                                  <i class="icon"></i>
                                  <img src="./assets/images/flipvertical.png" width="25" height="25">
                                  <span class=" fa fa-flip-vertical" title="Flip Vertical" style="cursor: pointer;"></span>
                                </a>  -->
                                <div>
                                  <image-cropper
                                      [imageChangedEvent]="imageChangedEvent"
                                      [maintainAspectRatio]="false"
                                      [resizeToWidth]="380"
                                      [cropperMinWidth]="0"
                                      [onlyScaleDown]="false"
                                      [roundCropper]="false"
                                      format="png"
                                      outputType="base64"
                                      (imageCropped)="imageCropped($event)"
                                      (imageLoaded)="imageLoaded()"
                                      [style.display]="showCropper ? null : 'none'"
                                      [alignImage]="'left'"
                                  ></image-cropper>
                                </div>
                               
                              <!-- <ngx-img (onSelect)="onSelect($event)" (onReset)="onReset()"  [config]="{crop: [ {viewMode: 0 } ], quality: 0.8 }"></ngx-img> -->
                            </div>
                            <div *ngIf="logoErrorMessage != ''" style="color:red">
                              {{logoErrorMessage}}
                            </div>
                          </div>
                          <!-- <div class="col-sm-1 col-md-1 col-lg-1"> </div> -->
                          <div class="col-sm-6 col-md-6 col-lg-6">
                              <img [src]="croppedImage"  *ngIf="facilityLogo"/>
                            <!-- <img src="{{imgurl}}" *ngIf="facilityLogo != null" height="imgurlheight" width="imgurlwidth" />                            -->
                          </div>
                        </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" *ngIf="facilityLogo != null" (click)="closeUploadLogomodal()">Crop</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  <!-- </div> -->
