<app-commonmodal title="Rejected Refills">
    <div class="modal-body">
        <span>This request must be submitted from PharmaLife web -portal. Please log in to </span><br><br>
        <a href="https://www.pharmalifelink.com/frameworklink/" target="_blank" style="cursor: pointer;color: red"> https://www.pharmalifelink.com/frameworklink/</a>
      </div>
      <div class="modal-footer">
        <!-- <span class="errorMessage">{{errorMessage}}</span>&nbsp;&nbsp;&nbsp; -->
        <input type="button" id="btncancel" value="Cancel" (click)="cancelClick()" class="btn btn-danger" />
      </div>
</app-commonmodal>  