<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="InboundFilePendingPath" value="C:/Promantra/Inbound/Pending/"/>
    <add key="InboundFileCompletedPath" value="C:/Promantra/Inbound/Completed/"/>
    <add key="InboundFileErrorPath" value="C:/Promantra/Inbound/Error/"/>
    <add key="OutboundFilePendingPath" value="C:/Promantra/Outbound/Pending/"/>
    <add key="OutboundFileCompletedPath" value="C:/Promantra/Outbound/Completed/"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="BiometricConnectionString" connectionString="data source=plmisql002.150746a79ba3.database.windows.net;initial catalog=Emar003;user id=sqladmin;password=Ready4summer@2020;"/>-->
    <!--<add name="BiometricConnectionString" connectionString="data source=192.168.100.9;initial catalog=Emar;user id=sa;password=ABC123abc;"/>-->

    <add name="BiometricConnectionString" connectionString="data source=plmisql002.150746a79ba3.database.windows.net;initial catalog=Emar004;user id=sqladmin;password=Ready4summer@2020;"/>
    <!--<add name="BiometricConnectionString" connectionString="data source=plmisql001.150746a79ba3.database.windows.net;initial catalog=Biometric;user id=sqladmin;password=Ready4summer@2020;"/>-->
  <!--live url-->
<!--<add name="BiometricConnectionString" connectionString="data source=plmisql002.150746a79ba3.database.windows.net;initial catalog=Emar;user id=sqladmin;password=Ready4summer@2020;"/>-->
</connectionStrings>
</configuration>
