<app-commonmodal title="Pharmacy List">
    <div class="modal-body">
        <form [formGroup]="myform" autocomplete="off">
            <div class="row clearfix">
                <div class="col-sm-4 col-md-7 col-lg-6">
                    <div class="right"style=" display: table-cell;width: 90%; float:left; margin: 0px;">
                        <label>Search Pharmacy</label>
                    <input type="text" class="form-control" (input)="search()" ngbAutofocus formControlName="pharmacyname" [(ngModel)]="searchTerm" placeholder="Search">
                    <!-- <div *ngIf="myform.controls.drug.errors&& (myform.controls.drug.touched)" class="errorMessage">
                      <div *ngIf="myform.controls.drug.errors.required">
                         Pharmacy Address  is required.
                      </div>
                    </div> -->

                    </div>
                    <div class="right"style=" display: table-cell;width: 5%; float:left; margin: 0px;padding-left: 5%;margin-top:10px">
                        <a class="btn" style="padding: 0px !important;" >
                            <i title="Search Pharmacy Names" class="fa fa-search iconColor" style="font-size: 20px;padding-top: 14px;"></i>
                        </a>
                     </div>
                </div>
            </div>
        </form>

        <br />
        <div class="table-responsive" >
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                        <th></th>
                        <th>Pharmacy Name</th>
                        <th>Pharmacy Address</th>
                        <th>Pharmacy PhoneNumber</th>
                        <th>Favorite</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let item of filteredData| paginate: { itemsPerPage: gridPagination, currentPage: p,id:'Order' };index as i "
                    [ngClass]="{'highlight' : (selectedPharmacyId == item.Pharmacy_Id) }"  (click)="getSelectedPharmacy(item)" style="cursor: pointer">
                        <td>{{i+1}}</td>
                        <td>{{item.PharmacyName}}</td>
                      
                        <td>{{item.Pharmacy_Address1}}</td>
                        <td>{{item.Pharmacy_Phone}}</td>
                        
                       

                         <td>
                      <p  class="star" [ngClass]="{'clicked': item.Pharmacy_Fav == 1}"  (click)="toggleS(item.Pharmacy_Id, item.Pharmacy_Fav  === '1' ? 0 : 1 , $event)" >&#9733; </p>

                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls id="Order" (pageChange)="p = $event" *ngIf="filteredData.length > gridPagination">
        </pagination-controls>
    </div>
    <div class="modal-footer">
        <span class="errorMessage">{{errorMessage}}</span>&nbsp;&nbsp;&nbsp;
        <input type="button" id="btnsave" value="OK" (click)="okClick()" class="btn btn-success" />
        <input type="button" id="btncancel" value="Cancel" (click)="cancelClick()"   class="btn btn-danger" />
    </div>
  </app-commonmodal>




