.cursor
{
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}

label:before {
    background: linear-gradient(to bottom, #fff 0px, #e6e6e6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #035f8f;
    height: 15px;
    width: 15px;
    display: flex;
    cursor: pointer;
    border-radius: 3px;
}
input[type="checkbox"] + label:before {
    content: '';
    background: linear-gradient(to bottom, #e6e6e6 0px, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #a7a8a6;
    color: #088d25;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

input[type="checkbox"]:disabled + label:before {
    border-color: #eee;
    color: #ccc;
    background: linear-gradient(to top, #e6e6e6 0px, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

input[type="checkbox"]:checked + label:before {
    content: '✓';
}
:host /deep/ .multiselect-dropdown .dropdown-btn {
    border:none !important;
    padding: 0px !important;
  }
  :host /deep/ .multiselect-dropdown .dropdown-btn .dropdown-down 
  {
    border-top: 5px solid black !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
  }
  :host /deep/ .multiselect-dropdown .dropdown-btn .dropdown-up 
  {
    border-bottom: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
  }
  :host /deep/ .multiselect-dropdown .dropdown-btn .selected-item
  {
     overflow: hidden !important; 
     white-space: nowrap !important;
     width: 86% !important;  
     text-overflow: ellipsis !important;
  }
  :host /deep/ .multiselect-dropdown .dropdown-btn .selected-item 
{
  border: 2px solid #ade39d !important;
  background-color: #ade39d !important;
  color: #000000 !important;
}
:host /deep/ .multiselect-item-checkbox input[type=checkbox]:checked + div:before
{
  background-color: #ade39d !important;
}
:host /deep/ .multiselect-item-checkbox input[type=checkbox] + div:before
{
  border: 2px solid #ade39d !important;
}
:host /deep/ .multiselect-item-checkbox input[type=checkbox] + div:after
{
  border-color: #000000 !important;
}
:host /deep/ .multiselect-dropdown .dropdown-btn .selected-item a
{
  color: #000000 !important;
  font-weight: bold !important;
}