.errorMessage
{
    color:red;
}
/* table.tblDrugOrders tr:hover {
    background-color: #EBECCD;
}

table.tblDrugOrders tr {
    background-color: #dcddc0;
}

/* table.tblDrugOrders td {
    background:#dcddc0 url('/static/cell-grey.jpg'); // remove this line
    padding: 3px;
} */

/* table.tblDrugOrders {
    width: 100%;
} */

table tr.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
}