
  <app-commonmodal title="Warning">
    <div class="modal-body bodystyle">
      <b>Allergies entering using this option will not be screened for drug-allergy interactions. Do you want to continue?</b>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" style="border-radius: 10px;" (click)="saveChanges()">Yes</button>
      <button type="button" class="btn btn-danger" style="border-radius: 10px;" (click)="closeModel()" >No</button>
    </div>
  </app-commonmodal>

