<!-- <div class="content-wrapper" style="margin-left: 20px !important;"> -->
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">

        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content"  style="margin-left: 0px !important;">
    <div class="container-fluid">

      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Admit / Visit Info Details</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="tblallergies" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Admit Date</th>
                  <th>Discharge Date</th>                 
                  <th *ngIf="pageConfig['AccessWrite']"></th>
                  <th *ngIf="transferPageConfig['AccessRead']"></th>
                  <th *ngIf="dischargePageConfig['AccessRead']"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of residentcensus; index as i">
                  <td>{{i+1}}</td>
                  <td>{{item.AdmitDate | date: 'MM/dd/yyyy  '}}</td>
                  <td>{{item.DischargeDate | date: 'MM/dd/yyyy hh:mm:ss a'}}</td>                
                  <td  *ngIf="pageConfig['AccessWrite']">
                    <a class="btn editicon" (click)="getResidentAdmitVisitInfoByvisit_Id(item.PVisit_Id)">
                      <i class="icon"></i>
                      <span class=" fa fa-edit (alias) iconColor" title="Edit"></span>
                    </a>
                  </td>
                  <td *ngIf="transferPageConfig['AccessRead']">
                    <img src="./assets/images/transfer_image.png" width="17" height="17" (click)="residentTransferByvisit_Id(item.PVisit_Id)" title="Transfer">
                  </td>
                  <td  *ngIf="dischargePageConfig['AccessRead']">
                      <img src="./assets/images/discharge_image.png" width="17" height="17" (click)="residentDischargeByvisit_Id(item.PVisit_Id)" title="Discharge">
                    </td>
                  <td>
                    <a class="btn editicon" (click)="getHistoryById(item.PVisit_Id)">
                      <i class="icon"></i>
                      <span class=" fa fa-history iconColor" title="History"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- <ng4-loading-spinner [template]="template" [loadingText]="'Please wait...'" [timeout]="99000"></ng4-loading-spinner> -->
    <ng4-loading-spinner [template]="template" [timeout]="99000" [loadingText]="'Please wait...'"></ng4-loading-spinner>
  </section>
<!-- </div> -->