<div class="row form-group" *ngIf="OtpFlag==1">
  <div class="col-sm-1">OTP</div>
  <div class="col-sm-6">
    <input type="password" [(ngModel)]="Otp" class="form-control" maxlength="6" />
  </div>
  <div class="col-sm-2">
    <input type="button" class="btn btn-success" [disabled]="!Otp" (click)="verifyOTP()" value="Verify OTP" />
  </div>
</div>
<div class="col-sm-10 col-md-10 col-lg-10" style="color:red">
  <div style="text-align:center">
    <label>{{message}}</label>
  </div>
</div>
<div *ngIf="verifyFlag==1 && typeFlag==0">
  <form [formGroup]="resetForm">
    <!-- <b>Reset Password</b> -->
    <hr />
    <div style="text-align: left;padding-bottom: 10px;">Reset Password</div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="resetPass" placeholder="Password" [ngClass]="{
    'is-valid':resetForm.controls.resetPass.valid,
    'is-invalid':resetForm.controls.resetPass.invalid && resetForm.controls.resetPass.touched
  }">
      <div class="valid-feedback feedback-icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="invalid-feedback feedback-icon customFeedback">
        <i class="fa fa-times"></i>
      </div>
      <div *ngIf="resetForm.controls.resetPass.errors && (resetForm.controls.resetPass.dirty)" class="errorMessage">
        <div *ngIf="resetForm.controls.resetPass.errors.required">
          <span class="fa">Password is required.</span>
        </div>
        <div *ngIf="resetForm.controls.resetPass.errors.pattern">
          <span class="fa">Password contians Invalid characters.</span>
        </div>
        <div *ngIf="resetForm.controls.resetPass.errors.maxlength">
          <span class="fa">Password cannot be more than 20 characters long.</span>
        </div>
        <div *ngIf="resetForm.controls.resetPass.errors.minlength">
          <span class="fa">Password ccannot be less than 4 characters long.</span>
        </div>
      </div>
    </div>
    <div style="text-align: left;padding-bottom: 10px;">Confirm Password</div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="confirmPass" placeholder="Password" [ngClass]="{
        'is-valid':resetForm.controls.confirmPass.valid,
        'is-invalid':resetForm.controls.confirmPass.invalid && resetForm.controls.confirmPass.touched
      }">
      <div class="valid-feedback feedback-icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="invalid-feedback feedback-icon customFeedback">
        <i class="fa fa-times"></i>
      </div>
      <div *ngIf="resetForm.controls.confirmPass.errors && (resetForm.controls.confirmPass.dirty)" class="errorMessage">
        <div *ngIf="resetForm.controls.confirmPass.errors.required">
          <span class="fa">Confirm Password is required.</span>
        </div>
      </div>
    </div>
    <div *ngIf="mismatch" style="text-align:center">
      <label style="color:red">{{mismatch}}</label>
    </div>
    <div style="text-align: right">
      <input type="button" value="Reset Password" (click)="resetPWD()" [disabled]="resetForm.invalid"
        class="btn btn-success" />
    </div>
  </form>
</div>