table tr.highlight {
    background-color: #ade39d !important;
    color: #000000;
    border-color: #000000;
}
.errorMessage
{
    color:red;
}
.card-title {
    font-size: initial;
    font-weight: 200;
    margin: 0;
  }
  
  .card-header {
    padding: .25rem 1.2rem;
    margin-bottom: 0;
  }