:host /deep/ .multiselect-dropdown .dropdown-btn {
    border:none !important;
    padding: 0px !important;
 }
 :host /deep/ .multiselect-dropdown .dropdown-btn .dropdown-down 
 {
    border-top: 6px solid black !important;
    border-left: 4px solid transparent !important;
    border-right: 2px solid transparent !important;
 }
 :host /deep/ .multiselect-dropdown .dropdown-btn .dropdown-up 
 {
    border-bottom: 6px solid #adadad !important;
    border-left: 4px solid transparent !important;
    border-right: 2px solid transparent !important;
 }
 .errorMessage
{
    color:red;
}
.c1 {
    color: red;
  }  
  .modalstyle
  {
    z-index: 99999  !important;
    overflow: hidden;
  }
  .bodystyle
  {
    height:400px;
    overflow-y: auto
  }
  .modal.fade .modal-dialog
  {
    transform: translate(0,0%);
  }
