<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" executionTimeout="360000" />
  </system.web>
  <appSettings>
    <add key="InboundFilePendingPath" value="C:/eMar/Inbound/Pending/" />
    <add key="InboundFileCompletedPath" value="C:/eMar/Inbound/Completed/" />
    <add key="InboundFileErrorPath" value="C:/eMar/Inbound/Error/" />
    <add key="OutboundFilePendingPath" value="C:/eMar/Outbound/Pending/" />
    <add key="OutboundFileCompletedPath" value="C:/eMar/Outbound/Completed/" />
  </appSettings>
  <connectionStrings>
    <add name="HL7ConnectionString" connectionString="data source=PLSVR-01\PROMANTRA1;initial catalog=EMAR_Testing;user id=sa;password=Pa55word;" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="WebServiceSender.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
<!--ProjectGuid: {27b5bf79-d13d-4f85-aea1-d06ae9241df2}-->