<app-commonmodal title="Reset User Password">
  <div class="modal-body bodystyle">
<form [formGroup]="changePasswordform">
<div class="row form-group">
  <div class="col-sm-2 col-md-2 col-lg-2">Password <span class="c1">*</span>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="iconed-input">
      <input type="text" id="txtdpassword" class="form-control" formControlName="password"
        [ngClass]="{
          'is-valid':changePasswordform.controls.password.valid,
          'is-invalid':changePasswordform.controls.password.invalid && changePasswordform.controls.password.touched
        }" />
      <div *ngIf="changePasswordform.controls.password.errors && (changePasswordform.controls.password.touched)"
        class="errorMessage">
        <div *ngIf="changePasswordform.controls.password.errors.required">
         Password is required.
        </div>
        <div *ngIf="changePasswordform.controls.password.errors.pattern">
         {{config.alphaNumericFewSpecialCharactersMessage3}}
        </div>
        <div *ngIf="changePasswordform.controls.password.errors.maxlength">
          Password cannot be more than 20 characters long.
        </div>
        <div *ngIf="changePasswordform.controls.password.errors.minlength">
          Password cannot be less than 4 characters long.
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>
<div class="modal-footer">
    <input type="button" id="btnsave"  *ngIf="pageConfig['AccessWrite']" value="Save" (click)="changeUserPassword()" [disabled]="changePasswordform.invalid"
    class="btn btn-success" />&nbsp;
    <button type="button"class="btn btn-danger"  (click)="activeDefaultModal.close('Close click')">Close</button>
</div>
</app-commonmodal>
