.btn-info
{
    line-height: 0.5rem !important;
    height: 1.50rem !important;
    padding: 0.25rem !important;
    background-color: #007bff !important;
    border: none !important;
    box-shadow: none !important;
}
.dropdown-menu-lg
{
    min-width: 0px !important;
}

.dropdown-menu-lg .dropdown-item
{
    padding:.25rem 0.5rem 0.25rem 0.5rem !important;
    font-size: small !important;
}