<ng-template #tipContent><img class="ImageAndWidthHeight" *ngIf="this.MyImages!=undefined"  [src] ="sanitize(this.MyImages)"></ng-template>



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="margin-left: 0px !important;">
  <!-- Content Header (Page header) -->
  <!-- <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>FluidIntake</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                    <li class="breadcrumb-item active">FluidIntake</li>
                  </ol>
                </div> 
        </div>
      </div>
    </section> -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-primary sticky">
        <div class="card-body" style="padding-bottom: inherit;padding-top: inherit;">
          <div class="row form-group">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <h3 class="card-title">Resident Food Intake</h3>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <ng-multiselect-dropdown class="form-control" [data]="facilities" [(ngModel)]="selectedfaItems" [settings]="dropdownSettings_Facilities" [placeholder]="'Facilities'" (onSelect)="onFacilitySelect($event)" (onDeSelect)="onFacilityDeSelect($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <ng-multiselect-dropdown class="form-control" [data]="nurseStations" [(ngModel)]="selectednItems" [settings]="dropdownSettings_NurseStations" [placeholder]="'Nursing Stations'" (onSelect)="onNurseStationSelect($event)"
              (onDeSelect)="onNurseStationDeSelect($event)">
          </ng-multiselect-dropdown>
            </div>
        </div>
          <div *ngIf="residentID!=0" >
            <div *ngIf="demographicInfoData!={}">
              <div class="row form-group">
                <div class="col-sm-2 col-md-2 col-lg-2" style="text-align: -webkit-center;cursor: pointer;">
                  <a ><span class="info-box-icon">
                    <img  container="body"  (mouseenter) ="mouseEnter(demographicInfoData.ImageLocation)"   (mouseleave) ="mouseLeave()" [ngbTooltip]="this.tipContent" *ngIf="demographicInfoData.ImageLocation!=undefined" [src]="sanitize(demographicInfoData.ImageLocation)" class="zoom">
                  </span></a><br />
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                  <div class="row form-group">
                    <div class="col-sm-5 col-md-4 col-lg-4">
                      <strong>Residents</strong>
                      <ng-multiselect-dropdown class="form-control" [(ngModel)]="selectedResItem" [data]="residents"
                        [settings]="dropdownSettings_Resident" (onSelect)="onResidentSelect($event)"
                        (onDeSelect)="onResidentDeSelect($event)">
                      </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-5 col-md-4 col-lg-4">
                      <strong>Admit Date</strong>
                      <select class="form-control" id="ddladmindate">
                        <option *ngFor="let item of adminDateDrop" value="{{item.PVisit_Id}}">{{item.AdmitDate|date
                                            :'MM/dd/yyyy'}}</option>
                      </select>
                    </div>

                  </div>
                  <div class="row">
                    <!-- <div class="col-sm-2 col-6">
                      <strong>MR#:</strong><span>{{demographicInfoData.PatientMRNumber}}</span></div> -->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <strong>DOB:&nbsp;</strong><span>{{demographicInfoData.DOB|date :'MM/dd/yyyy'}}</span></div>
                    <div class="col-sm-3 col-md-2 col-lg-2">
                      <strong>Gender:&nbsp;</strong><span>{{demographicInfoData.AdministrativeSex}}</span></div>
                    <div class="col-sm-6 col-md-5 col-lg-5"><strong>Nursing Station Name:&nbsp;</strong><span>{{nurseStationName}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-default">
      <div class="card-body">
      <form [formGroup]="myform" autocomplete="off">
        <div class="row form-group">
          <!-- <div class="col-sm-2 ">
            Assesment Date
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4">
            Assesment Date
            <input type="date" id="dtassesment" class="form-control" formControlName="AssessmentDate" readonly>
          </div>
          <!-- <div class="col-sm-2">
            Initials
          </div> -->
          <div class="col-sm-4 colmd-4 col-lg-4">
            Initials
            <input type="text" class="form-control" id="txtinitials" formControlName="Initials" readonly>
          </div>
          <!-- <div class="col-sm-2">
            Attending Physician
            <span class="c1">*</span>
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4">
            Attending Prescriber
            <span class="c1">*</span>
            <ng-multiselect-dropdown formControlName="Attendingphysician" class="form-control"
              [(ngModel)]="selectedPhtsicianItem" [data]="physiciansdrop" [settings]="dropdownSettings_Physician"
              [ngClass]="{
                'is-valid':myform.controls.Attendingphysician.valid && myform.controls.Attendingphysician.dirty,
                'is-invalid':myform.controls.Attendingphysician.invalid && myform.controls.Attendingphysician.touched
              }">
            </ng-multiselect-dropdown>
            <div *ngIf="myform.controls.Attendingphysician.errors && (myform.controls.Attendingphysician.touched)"
              class="errorMessage">
              <div *ngIf="myform.controls.Attendingphysician.errors.required">
                Physician name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row from-group">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <b>Breakfast</b>
          </div>
        </div>
        <div class="row form-group">
          <!-- <div class="col-sm-2 ">
            Fluid oz
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4">
            Fluid oz 
            <input type="text" id="txtbrfluid" class="form-control" formControlName="Fluidsb" [ngClass]="{
              'is-valid':myform.controls.Fluidsb.valid && myform.controls.Fluidsb.dirty,
              'is-invalid':myform.controls.Fluidsb.invalid && myform.controls.Fluidsb.touched
             }" />
            <div *ngIf="myform.controls.Fluidsb.errors && (myform.controls.Fluidsb.touched)" class="errorMessage">
              <div *ngIf="myform.controls.Fluidsb.errors.pattern">
                {{config.letterMessage}}
              </div>
              <div *ngIf="myform.controls.Fluidsb.errors.maxlength">
                Fluidsb Must be 50 characters long.
              </div>
            </div>

          </div>
          <!-- <div class="col-sm-2 ">
            Alternate A/R
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4 ">
            Alternate A/R
            <input type="text" class="form-control" id="txtbraltemate" formControlName="Alternateb" [ngClass]="{
              'is-valid':myform.controls.Alternateb.valid && myform.controls.Alternateb.dirty,
              'is-invalid':myform.controls.Alternateb.invalid  && myform.controls.Alternateb.touched
             }" />
            <div *ngIf="myform.controls.Alternateb.errors &&(myform.controls.Alternateb.touched)"
              class="errorMessage">
              <div *ngIf="myform.controls.Alternateb.errors.maxlength">
                Alternateb Must be 50 characters long.
              </div>
            </div>

          </div>
          <!-- <div class="col-sm-2 ">
            Supplement A/R
          </div> -->
          <div class="col-sm-4 col-md- col-lg-4 ">
            Supplement A/R
            <input type="text" class="form-control" id="txtbrsupplement" formControlName="supplementb" [ngClass]="{
              'is-valid':myform.controls.supplementb.valid  && myform.controls.supplementb.dirty,
              'is-invalid':myform.controls.supplementb.invalid && myform.controls.supplementb.touched
             }" />
            <div *ngIf="myform.controls.supplementb.errors && (myform.controls.supplementb.touched)"
              class="errorMessage">
              <div *ngIf="myform.controls.supplementb.errors.maxlength">
                supplementb Must be 50 characters long.
              </div>
            </div>

          </div>
        </div>
        <div class="row from-group">
          <div class="col-sm-2 ">
            <b>Lunch</b>
          </div>
        </div>
        <div class="row form-group">
          <!-- <div class="col-sm-2 ">
            Fluid oz
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4 ">
            Fluid oz
            <input type="text" id="txtlunfluid" class="form-control" formControlName="Fluidsl" [ngClass]="{
              'is-valid':myform.controls.Fluidsl.valid && myform.controls.Fluidsl.dirty ,
              'is-invalid':myform.controls.Fluidsl.invalid && myform.controls.Fluidsl.touched 
             }" />
            <div *ngIf="myform.controls.Fluidsl.errors && (myform.controls.Fluidsl.touched)" class="errorMessage">
              <div *ngIf="myform.controls.Fluidsl.errors.pattern">
                {{config.letterMessage}}
              </div>
              <div *ngIf="myform.controls.Fluidsl.errors.maxlength">
                Fluidsl Must be 50 characters long.
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-2 ">
            Alternate A/R
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4 ">
            Alternate A/R
            <input type="text" class="form-control" id="txtlunaltemate" formControlName="Alternatel" [ngClass]="{
              'is-valid':myform.controls.Alternatel.valid  && myform.controls.Alternatel.dirty,
              'is-invalid':myform.controls.Alternatel.invalid && myform.controls.Alternatel.touched
             }" />
            <div *ngIf="myform.controls.Alternatel.errors && (myform.controls.Alternatel.touched)"
              class="errorMessage">
              <div *ngIf="myform.controls.Alternatel.errors.maxlength">
                Alternatel Must be 50 characters long.
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-2">
            Supplement A/R
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4 ">
            Supplement A/R
            <input type="text" class="form-control" id="txtlunsupplement" formControlName="supplementl" [ngClass]="{
              'is-valid':myform.controls.supplementl.valid  && myform.controls.supplementl.dirty,
              'is-invalid':myform.controls.supplementl.invalid && myform.controls.supplementl.touched
             }" />
            <div *ngIf="myform.controls.supplementl.errors && (myform.controls.supplementl.touched)"
              class="errorMessage">
              <div *ngIf="myform.controls.supplementl.errors.maxlength">
                supplementl Must be 50 characters long.
              </div>
            </div>
          </div>
        </div>
        <div class="row from-group">
          <div class="col-sm-2 ">
            <b>Supper</b>
          </div>
        </div>
        <div class="row form-group">
          <!-- <div class="col-sm-2">
            Fluid oz
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4 ">
            Fluid oz
            <input type="text" id="txtsupfluid" class="form-control" formControlName="Fluidss" [ngClass]="{
              'is-valid':myform.controls.Fluidss.valid && myform.controls.Fluidss.dirty ,
              'is-invalid':myform.controls.Fluidss.invalid && myform.controls.Fluidss.touched 
             }" />
            <div *ngIf="myform.controls.Fluidss.errors && ( myform.controls.Fluidss.touched)" class="errorMessage">
              <div *ngIf="myform.controls.Fluidss.errors.pattern">
                {{config.letterMessage}}
              </div>
              <div *ngIf="myform.controls.Fluidss.errors.maxlength">
                Fluidss Must be 50 characters long.
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-2 ">
            Alternate A/R
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4 ">
            Alternate A/R
            <input type="text" class="form-control" id="txtsupaltemate" formControlName="Alternates" [ngClass]="{
              'is-valid':myform.controls.Alternates.valid && myform.controls.Alternates.dirty ,
              'is-invalid':myform.controls.Alternates.invalid  && myform.controls.Alternates.touched 
             }" />
            <div *ngIf="myform.controls.Alternates.errors && (myform.controls.Alternates.touched )"
              class="errorMessage">
              <div *ngIf="myform.controls.Alternates.errors.maxlength">
                Alternates Must be 50 characters long.
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-2 ">
            Supplement A/R
          </div> -->
          <div class="col-sm-4 col-md-4 col-lg-4 ">
            Supplement A/R
            <input type="text" class="form-control" id="txtsupsupplement" formControlName="supplements" [ngClass]="{
              'is-valid':myform.controls.supplements.valid && myform.controls.supplements.dirty ,
              'is-invalid':myform.controls.supplements.invalid && myform.controls.supplements.touched
             }" />
            <div *ngIf="myform.controls.supplements.errors &&(myform.controls.supplements.touched)"
              class="errorMessage">
              <div *ngIf="myform.controls.supplements.errors.maxlength">
                supplements Must be 50 characters long.
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <!-- <div class="col-sm-2">Status</div> -->
          <div class="col-sm-2 col-md-2 col-lg-2">
            Status
            <div class="iconed-input">
              <label class="switch">
                <input type="checkbox" id="chkstatus" formControlName="status">
                <div class="slider round">
                  <!--ADDED HTML -->
                  <span class="on">Active</span>
                  <span class="off">Inactive</span>
                  <!--END-->
                </div>
              </label>

            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-8"></div>
          <div class="col-sm-4  pull-right">
            <div class="bg-primary">
              <div class="info-box-content" style="background-color: #ade39d;color: #000000;">
                <div class="row">
                  <div class="col-sm-12">
                    Guidelines for determining meal percentages-follow scheduled outline below.
                  </div>
                  <!-- <div class="col-sm-6"></div> -->
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    * Offer alternate if consumes less than 50%
                  </div>
                  <!-- <div class="col-sm-8"></div> -->
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    * An item is eaten is less than 1/4 of amount served-no credit is given.
                  </div>
                  <!-- <div class="col-sm-8"></div> -->
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    * Offer supplement if refuses alternate 4 oz
                  </div>
                  <!-- <div class="col-sm-8"></div> -->
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    * An item is eaten is less than 3/4 of amount served-full credit is given.
                  </div>
                  <!-- <div class="col-sm-8"></div> -->
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    * Add all item percentage to determine total meal intake.
                  </div>
                  <!-- <div class="col-sm-8"></div> -->
                </div>

              </div>
            </div>
          </div>
        </div>


        <!-- <div class="row from-group">
          <div class="col-sm-12">
            <u>Guidelines for determining meal percentages-follow scheduled outline below.</u>
          </div>
        </div><br />
        <div class="row from-group">
          <div class="col-sm-6 ">
            * Offer alternate if consumes less than 50%
          </div>
          <div class="col-sm-6 ">
            * An item is eaten is less than 1/4 of amount served-no credit is given.
          </div>
        </div><br />
        <div class="row from-group">
          <div class="col-sm-6 ">
            * Offer supplement if refuses alternate 4 oz
          </div>
          <div class="col-sm-6 ">
            * An item is eaten is less than 3/4 of amount served-full credit is given.
          </div>
        </div><br />
        <div class="row from-group">
          <div class="col-sm-6 ">
            * A=Accepted R=Refused
          </div>
          <div class="col-sm-6 ">
            * Add all item percentage to determine total meal intake.
          </div>
        </div><br /> -->
        <div style="text-align: right">
          <input type="button" id="btnsave" *ngIf="pageConfig['AccessWrite']" value="Save" class="btn btn-success"
            [disabled]="myform.invalid || saveDisable==true" (click)="insertVisitFoodIn()" /> &nbsp;
          <input type="button" id="btnreset" *ngIf="pageConfig['AccessWrite']" value="Reset" class="btn btn-danger"
            (click)="resetScreen()" />
        </div>
      </form>
      </div>
      </div>
    </div>
    <div class="container-fluid">

      <div class="card card-primary">

        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="card-title">Resident Food Intake View</h3>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3"></div>
            <div class="col-sm-3 col-md-4 col-lg-3">
              <input style="padding:inherit" type="search" class="form-control input-sm" [(ngModel)]="searchText"
                placeholder="Search">
            </div>
          </div>

        </div>

        <div class="card-body">

          <div class="table-responsive">
            <table id="tblvitalfoodin" class="table table-bordered table-hover">
              <thead>
                <tr>

                  <th>Fluids br</th>
                  <th>Alternate br</th>
                  <th>supplement br</th>
                  <th>Fluids lun</th>
                  <th>Alternate lun</th>
                  <th>supplement lun</th>
                  <th>Fluids sup</th>
                  <th>Alternate sup</th>
                  <th>supplement sup</th>
                  <th>Status</th>
                  <th>Captured By</th>
                  <th>Captured Date</th>

                  <th *ngIf="pageConfig['AccessWrite']"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of VisitFoodinData|gridFilter:searchText:'FoodIntake'| paginate: { itemsPerPage: gridPagination, currentPage: p };">

                  <td>{{item.Fluidsb}}</td>
                  <td>{{item.Alternateb}}</td>
                  <td>{{item.supplementb}}</td>
                  <td>{{item.Fluidsl}}</td>
                  <td>{{item.Alternatel}}</td>
                  <td>{{item.supplementl}}</td>
                  <td>{{item.Fluidss}}</td>
                  <td>{{item.Alternates}}</td>
                  <td>{{item.supplements}}</td>
                  <td *ngIf="item.VisitFoodintake_Status==1">Active</td>
                  <td *ngIf="item.VisitFoodintake_Status==0">InActive</td>
                  <td>{{item.UserName}}</td>
                  <td>{{item.VisitFoodintake_CreatedDate |date :'MM/dd/yyyy hh:mm:ss a'}}</td>
                  <td *ngIf="pageConfig['AccessWrite']">
                    <a class="btn editicon"
                      (click)="getVisitFoodIntakeById(item.VisitFoodintake_ID,item.AssessmentDate)">
                      <i class="icon"></i>
                      <span class=" fa fa-edit (alias) iconColor" title="Edit"></span>
                    </a>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event" *ngIf="VisitFoodinData.length > 0"></pagination-controls>


        </div>
      </div>
    </div>
    <ng4-loading-spinner [template]="template" [loadingText]="'Please wait...'" [timeout]="99000"></ng4-loading-spinner>
  </section>