.star {
    color:grey;
    font-size: 24px;
    cursor: pointer;
  }
  
  .clicked {
    color: #ffdf62;
  
  }
  .errorMessage
  {
      color:red;
  }
  
  table tr.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
  }
  
 